# Eclipse workspace metadata
.metadata/

# Eclipse user-specific settings
**/.settings/

# Optional Eclipse config files
# Remove these lines if you WANT them in Git
**/.classpath
**/.project

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
